In [ ]:
def test(x):
    ans = 42
    import pdb; pdb.set_trace()
    ans +=x
    ans -=x
    return ans

test(10)

In [1]:
import pandas as pd
import numpy as np

data = np.random.randn(5)
index=['a','b','c','d','e']
S = pd.Series(data,index)
print(S)

a   -0.518916
b    0.992979
c    0.701019
d   -0.468137
e    0.620651
dtype: float64

In [2]:
d ={'a':0.,'b':1.,'c':2.}
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [3]:
pd.Series(d,index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [5]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
print(s)
print(s+s)
print(s*s)

a    2.189336
b    1.370361
c   -2.065191
d   -0.773406
e    1.618730
dtype: float64
a    4.378673
b    2.740723
c   -4.130382
d   -1.546812
e    3.237461
dtype: float64
a    4.793194
b    1.877890
c    4.265013
d    0.598157
e    2.620288
dtype: float64

In [6]:
s[1:]+s[:-1]

a         NaN
b    2.740723
c   -4.130382
d   -1.546812
e         NaN
dtype: float64

In [7]:
s.name

In [14]:
DF1 = pd.DataFrame(np.random.randint(low=0,high=10, size =(5,5)),
                  index = ['t1','t2','t3','t4','t5'],
                  columns=['a','b','c','d','e'])
DF1

    a  b  c  d  e
t1  9  8  4  2  1
t2  8  5  6  9  8
t3  1  7  2  8  9
t4  8  5  1  9  6
t5  5  7  0  1  9

In [16]:
DF1['f']=DF1['a']+DF1['d']
DF1

    a  b  c  d  e   f
t1  9  8  4  2  1  11
t2  8  5  6  9  8  17
t3  1  7  2  8  9   9
t4  8  5  1  9  6  17
t5  5  7  0  1  9   6

In [17]:
del DF1['d']
DF1

    a  b  c  e   f
t1  9  8  4  1  11
t2  8  5  6  8  17
t3  1  7  2  9   9
t4  8  5  1  6  17
t5  5  7  0  9   6